@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
	--theme-button-color: #1b776a;
	--theme-muted-highlight: #456a65;
	--theme-background-color: #2c2c2c;
	--theme-lighter-color: #3e3e3e;
	--theme-medium-color: #2e2e2e;
	--theme-darker-color: #202020;
	--theme-muted-text: #b9b9b9;

	--theme-text-color: white;
	--theme-link-color: #619eb3;
	--theme-dim-shadow-color: #212121;
	--theme-shadow-color: #161616;
	--theme-background: var(--theme-background-color);

	/* indicator colors */
	--theme-indicator-good: #7ba25c;
	--theme-indicator-okay: #b7925c;
	--theme-indicator-todo: #9e89c8;
	--theme-indicator-bad: #da5858;
	
	--theme-main-font: 'Noto Sans', sans-serif;
	--theme-main-font-size: 15.5px;
}

html {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	overflow-x: hidden;
}

*:not(body)::-webkit-scrollbar {
	display: none; /* webkit, please, support the standard */
}

/* override broken css returned by endpoints */
*[style]:not([class]) {
	background: transparent !important;
}

/*
	get rid of stupid safari garbage
*/
input, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-left: 0;
}

body {
	background: var(--theme-background);
	color: var(--theme-text-color);
	font-family: var(--theme-main-font);
	font-size: var(--theme-main-font-size);
	margin: 0;
}

.greyedout,
.grayedout {
	filter: grayscale(60%);
	pointer-events: none;
	user-select: none;
	transition 0;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
	flex-flow: row wrap;
}

.flex-center {
	justify-content: center;
}

.flex-v-center {
	align-items: center;
}

.flex-left {
	justify-content: start;
}

.flex-top-align {
	align-items: start;
}

.flex-break {
	flex-basis: 100%;
	height: 0;
	margin: 0;
	border: 0;
	width: 100%;
}

.flex-equal-width > * {
	flex: 1 1 0px;
}

.full-container {
	padding: 30px;
}

.text-left {
	text-align: left !important;
}

.scrollable-col {
	overflow-y: scroll;
	overflow-x: visible;
	transition: 0.15s;
	scrollbar-width: thin;
	padding: 2px;
	scrollbar-color: transparent transparent;
}

@media (min-width: 900px) {
	.scrollable-col {
		height: 70vh;	
	}
	
}

@media (max-width: 900px) {
	.scrollable-col {
		height: auto;
	}
	
	.assignment:last-child {
		margin-bottom: 30px;
	}
	.col-parent {
		width: 100%;
		flex-basis: 100%;
	}
}

.scrollable-col:hover {
	scrollbar-color: var(--theme-muted-highlight) transparent;
}

.scrollable-col::-webkit-scrollbar {
	opacity: 0;
	transition: 0.2s;
	display: block;
	width: 2px;
}

.scrollable-col:hover::-webkit-scrollbar {
	opacity: 1;
	background: var(--theme-muted-highlight);
}

/*
	get rid of that ugly dotted border browsers put on links
*/
a {
	outline: 0;
}

.circle {
	border-radius: 100%;
	display: block;
}

.top-offset {
	margin-top: calc(60vh - 200px);
}

.left-offset {
	padding-left: 110px;
	padding-left: min(110px, 15vw);
}

.rounded-cont {
	background: var(--theme-darker-color);
	white-space: normal;
	border-radius: 10px;
	transition: 0.3s ease-out;
	padding: 10px;
}

img.rounded-cont {
	padding: 0;
}

.medium-background {
	background: var(--theme-medium-color);
}

.fixed-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	z-index: 12;
}

.popup {
	filter: drop-shadow(0 3px 2px var(--theme-shadow-color))
}

.form {
	padding: 15px 35px 15px 35px;
	max-width: 70%;
}

.topright-button {
	position: absolute;
	right: 3%;
}

.close-button {
	float: right;
}

/*
	is this dumb? yes.
	does it work? yes.
*/
.form .close-button {
	margin-right: -25px;
	margin-top: -5px;
}

.form input:not([type=submit]), .form .select-cont {
	margin: 0 0 15px 0;
}

.input-label {
	text-align: left;
	font-size: 18px;
	user-select: none;
}


input[type=date] {
	font-weight: normal;
	font-family: var(--theme-main-font);
	cursor: pointer;
	padding-right: 5px;
}

.inline-input {
	display: inline-block !important;
}

.form-title {
	font-size: 30px;
	margin-bottom: 0;
	padding: 0;
}

 .title_sep {
	width: 70%;
	margin: 5px 0 15px 0;
}

input:not([type=submit]) {
	background: transparent;
	border-top: none;
	border-left: none;
	display: block;
	outline: 0;
	border-radius: 0;
	border-right: none;
	border-bottom: 1px solid var(--theme-muted-text);
	color: var(--theme-text-color);
	font-size: 20px;
	transition: 0.3s;
	max-width: 100%;
}

input:not([type=submit]):focus {
	border-bottom: 2px solid var(--theme-text-color);
}

/*
	why is chrome so stupid???? 
	it took me like an hour to find this pseudoelement
	AND IT'S NOT DOCUMENTED
*/
input::-webkit-calendar-picker-indicator {
	display: none;
}

select {
	appearance: none;
	background: transparent;
	display: inline-block;
	outline: 0;
	border: none;
	color: var(--theme-text-color);
	font-size: 20px;
	padding-right: 1em;
	z-index: 1;
	cursor: inherit;
	transition: 0.3s;
	font-family: inherit;
	line-height: inherit;
}

.select-cont {
	cursor: pointer;
	display: inline-grid;
	align-items: center;
	grid-template-areas: "select";
	border-bottom: 1px solid var(--theme-muted-text);
	overflow-x: hidden;
}

select, .select-cont::after {
	grid-area: select;
}

/* this is stolen from the internet */
.select-cont::after {
	content: "";
	display: inline-block;
  width: 0.7em;
  height: 0.4em;
  justify-self: end;
  background: var(--theme-text-color);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.round-button {
	background: var(--theme-button-color);
	color: var(--theme-text-color);
	text-decoration: none;
	user-select: none;
	cursor: pointer;
	margin: 5px;
	border-radius: 2em;
	--width-and-height: max(min(1.5vw, 15px), 10px);
	padding: calc(var(--width-and-height) / 5);
	width: var(--width-and-height);
	height: var(--width-and-height);
	line-height: var(--width-and-height);
	vertical-align: middle;
	display: inline-block;
	font-size: var(--width-and-height);
	text-align: center;
	transition: 0.3s;
	cursor: pointer;
}

.round-button:hover {
	filter: brightness(1.25); 
}

#feedback {
	width: auto;
	padding: 3px 8px;
	position: fixed;
	left: 10px;
	bottom: 10px;
	filter: drop-shadow(1px 1px 1px var(--theme-shadow-color));
	--width-and-height: 12px;
	background: var(--theme-muted-highlight);
}

.button {
	background: var(--theme-button-color);
	user-select: none;
	cursor: pointer;
	border-radius: 3px;
	margin: auto;
	text-align: center;
	text-decoration: none;
	color: var(--theme-text-color);
	width: auto;
	vertical-align: middle;
	display: inline-block;
	padding: 5px 20px 5px 20px;
	transition: 0.3s;
	border: none;
	font-size: 16px;
}

.button + .button {
	margin-left: 10px;
}

.bad_button {
	transition: 0.3s;
	color: var(--theme-indicator-bad);
	background: transparent;
}

.bad_button:hover {
	filter: unset !important;
	background: var(--theme-indicator-bad);
	color: var(--theme-text-color);
}

input.button {
	padding: 3px 20px 3px 20px
}

.button:hover:not(.greyedout):not(.grayedout) {
	filter: brightness(1.15);
}

.button:active:not(.greyedout):not(.grayedout) {
	transform: scale(0.93);
	transition: 0.1s;
}

.standard_transition {
	transition: 0.3s;
}

.hidden {
	display: none;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* landing page stuff */

#landing_page_cont {
	margin-top: calc(50vh - 200px);
}

#landing_page_cont > h1 {
	font-size: 3em;
	font-size: max(min(50px, 4vw), 30px);
}

.big-button {
	font-size: 20px;
}

.ohidden {
	opacity: 0;
}

/* schedule table stuff */

#schedule_cont {
	margin-top: calc(60vh - 200px);
}

@media (max-width: 900px) {
	#schedule_cont {
		margin-top: 45px;
	}
}

.schedule {
	border-collapse: collapse;
	border-radius: 10px;
	margin: 30px;
}

.schedule * {
	transition: 0.3s;
}

.schedule th {
	padding-top: 12px;
	padding-bottom: 12px;
	background: var(--theme-muted-highlight);
}

.schedule td,
.schedule th {
	padding-left: 10px;
	text-align: left;
	padding-right: max(3vw, 5px);
	padding-top: 5px;
	padding-bottom: 5px;
}

.schedule td {
	background: var(--theme-lighter-color);
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

.schedule td::after {
	width: 100%;
	margin: auto;
	position: absolute;
	bottom: 0;
	height: 1px;
	opacity: 0.4;
	content: "";
	background: var(--theme-text-color);
	display: block;
}

.schedule td:last-child::after,
.schedule td:first-child::after,
.schedule tr:first-child td::after,
.schedule tr:last-child td::after {
	border: 0;
	background: transparent;
	height: 0;
	margin: 0;
}

@media (max-width: 900px) {
	.schedule td {
		display: block;
	}

	.schedule tr:nth-child(2) td:first-child {
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}

	.schedule tr:last-child td:last-child {
		/*	border-bottom-right-radius: 10px;*/
	}

	.schedule tr:last-child td:first-child {
		border-bottom-left-radius: 0 !important;
	}

	.schedule tr:last-child td:last-child {
		border-bottom-left-radius: 10px;
	}

	.schedule th {
		display: none;
	}

	.schedule tr td {
		padding-left: 15px;
		padding-left: 15px;
	}

	.schedule tr td:first-child {
		padding-top: 20px;
	}

	.schedule tr td:last-child {
		padding-bottom: 20px;
	}

	.schedule tr td:last-child::after {
		width: 90%;
		margin: auto;
		bottom: 0;
		height: 1px;
		margin-top: 20px;
		opacity: 0.4;
		content: "";
		background: var(--theme-text-color);
		display: block;
	}

	.schedule td::after, .schedule tr:last-child td:last-child::after {
		border: 0;
		background: transparent;
		height: 0;
		margin: 0;
	}

	.schedule td::before {
		content: attr(data-heading);
		padding-right: 10px;
		font-weight: bold;
		white-space: nowrap;
		padding: 0;
	}
}

/* stolen from stackoverflow, gives the table a border radius */
.schedule tr:first-child td:first-child {
	border-top-left-radius: 10px;
}

.schedule tr:first-child td:last-child {
	border-top-right-radius: 10px;
}

.schedule tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}

.schedule tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}

.schedule tr:first-child th:first-child {
	border-top-left-radius: 10px;
}

.schedule tr:first-child th:last-child {
	border-top-right-radius: 10px;
}

.schedule tr:last-child th:first-child {
	border-bottom-left-radius: 10px;
}

.schedule tr:last-child th:last-child {
	border-bottom-right-radius: 10px;
}

#date {
	font-size: max(min(20px, 2vw), 12px);
}

a:not([class]), .link {
	cursor: pointer;
	font-weight: bold;
	color: var(--theme-link-color);
	text-decoration: none;
	transition: 0.1s;
}

a:not([class]):hover, .link:hover {
	filter: brightness(1.1);
}

/* indicator styles */
.round-indicator {
	border-radius: 10rem;
	display: inline;
	white-space: nowrap;
	transition: 0.1s;
	margin: 0 3px;
	padding: 0.3em 0.6em 0.3em 0.6em;
	line-height: 2.2;
	text-align: center;
}

.pre {
	white-space: pre-line;
}

.assignment > div {
	margin-top: 10px;
	max-width: 100%;
	overflow-wrap: break-word;
}

.assignment h4 {
	margin-top: 0;
	margin-bottom: 10px;
}

.assignment:not([data-expanded=true]) .assigned {
	display: none;
}

.assignment[data-expanded=true] .round-indicator {
	transition: margin 0s;
	margin-left: 0;
}

.assignment h5 + h5 {
	margin-top: 10px;
}

.assignment h5 {
	margin-bottom: 0;
	margin-top: 8px;
}

.assignment:not([data-expanded=true]), .assignment .round-indicator, .assignment .long_header {
	cursor: pointer;
}

.assignment:not([data-expanded=true]) div:last-child {
	margin-left: auto;
}

.assignment[data-expanded=true] div:first-child {
	margin-right: auto;
}

.assignment {
	transition: margin 0s;
	padding-top: 0;
}

.assignment .rounded-cont {
	margin: 20px 5px 5px 0;
}

.assignment .rounded-cont + .rounded-cont {
	margin: 0 5px 0 0;
}

.indicator-bad {
	background: var(--theme-indicator-bad);
}

.indicator-todo {
	background: var(--theme-indicator-todo);
}

.indicator-okay {
	background: var(--theme-indicator-okay);
}

.indicator-good {
	background: var(--theme-indicator-good);
}

.indicator-todo {
	background: var(--theme-indicator-todo);
}

.indicator-blank {
	background: var(--theme-lighter-color);
}

#add_classname {
	width: 200px;
}

/* class page stuff */
.title {
	transition: 0.3s;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}

#page-cont {
	padding: max(20px, 10vh) 10vw 0;
	display: block;
}

#page-cont > #title {
	width: 100%;
}
/* safari-specific styles */
@media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0) {
	.tab {
		padding: 3px 10px 3px !important;
	}
}
.tab {
	background: var(--theme-lighter-color);
	border-radius: 5px 5px 0 0;
	transition: 0.193s; /* one has to be very precise with these things */
	display: inline-block;
	padding: 1px 10px 2px;
	margin: 0 3px 3px 0;
	cursor: pointer;
	text-decoration: none;
	color: var(--theme-text-color);
	user-select: none;
}

.tab:hover:not(.current-tab) {
	filter: brightness(1.15);
}

.flipped-tab {
	border-radius: 0 0 5px 5px;
}

.list_thingy {
	margin-bottom: 10px;
}

.header-offset {
	margin-top: 45px;
}

#class-display {
	padding-top: 12px;
	width: 100%;
}

.tab-cont {
	width: 100%;
	transition: 0.2s;
	white-space: nowrap;
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;
	overflow-x: scroll;
	display: inline-block;
}

#header {
	top: 0;
	left: 0;
	position: fixed;
	padding-left: 3px;
	z-index: 12;
	filter: drop-shadow(0 2.5px 4px var(--theme-background-color))
}

.tab-cont .tab {
	margin: 0;
}

.tab-cont:hover {
	scrollbar-color: var(--theme-muted-highlight) transparent;
}

html {
	scrollbar-color: var(--theme-muted-highlight) transparent;
}

/*
	why does webkit still not support the standard??
*/

.tab-cont:hover::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
	background: var(--theme-muted-highlight);
	/* webkit bad. use firefox */
}

.tab-cont::-webkit-scrollbar-thumb {
	background: transparent;
	transition: 0.2s; /* for some reason this doesn't work in chrome, so sorry chrome users */
}

.tab-cont::-webkit-scrollbar {
	display: block;
	height: 6px;
	/* browsers should just support the standard, this sucks */
	transition: 0.2s;
}

body::-webkit-scrollbar {
	width: 6px;
	display: block;
}

.current-tab {
	background: var(--theme-muted-highlight);
}

.bulletin-item {
	padding: 20px 35px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.link-cont a {
	display: block;
	margin-top: 6px;
}

.person * {
	font-size: max(min(2.5vw, 14px), 12px);
}

.person {
	--person-margin: min(15px, 1.3vw);
	margin: var(--person-margin) var(--person-margin) 0 0;
	color: var(--theme-text-color);
	text-decoration: none;
	word-wrap: break-word;
	width: max(min(30vw, 160px), 100px);
	height: max(min(30vw, 160px), 100px);
	object-fit: cover;
}

.person img {
	padding: 10px;
	object-fit: cover; /* crop to square */
	width: 75%;
	height: 75%;
/*	
	width: 150px;
	width: max(min(20vw, 150px), 75px);
	
	height: 150px;
	height: max(min(20vw, 150px), 75px);
	*/
}

#topic_items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(286px, 1fr)); 
	padding-bottom: 50px;
}

#topic_items * {
	flex-grow: 1;
}

.small-gap {
	gap: 15px;
}

#topic_items > div {
	max-width: 300px;
}

.nagbar {
	position: fixed;
	top: 0;
	background: red;
	padding: 15px;
	width: 100%;
}

/*
	dragula stuff
*/
.gu-mirror {
	opacity: 0.98;
	cursor: grab;
	filter: drop-shadow(0 0 8px var(--theme-dim-shadow-color));
}


/* stolen from staccoverflow */
@keyframes shake {
		0%, 100% {}
		10%, 70%{margin-left: -10px;}
		40% {margin-left: 10px;}
}

.shake {
	animation: shake 0.3s;
}
