:root {
	--theme-button-color: #5865f2;
	--theme-muted-highlight: #686fc4;
	--theme-background-color: #2f3136;
	--theme-lighter-color: #4f545c;
	--theme-medium-color: #36393f;
	--theme-darker-color: #202225;
	--theme-muted-text: #72767d;

	--theme-text-color: #fff;
	--theme-button-text-color: #fff;
	--theme-link-color: #00aff4;
	--theme-dim-shadow-color: #00000037;
	--theme-shadow-color: #0000000f;
	--theme-background: var(--theme-background-color);
	--theme-nagbar-color: red;

	/* indicator colors */
	--theme-indicator-good: #3ba55d;
	--theme-indicator-okay: #cea866;
	--theme-indicator-todo: #9e89c8;
	--theme-indicator-bad: #ed4245;
	
	--theme-main-font: "Helvetica Neue",Helvetica,Arial,sans-serif;
	--theme-main-font-size: 15px;
}
