@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
:root {
	--theme-button-color: #040;
	--theme-muted-highlight: #030;
	--theme-background-color: #000;
	--theme-lighter-color: #121;
	--theme-medium-color: #0f1f0f;
	--theme-darker-color: #101710;
	--theme-muted-text: #009900;
	--theme-more-muted: #244d24;

	--theme-text-color: #00ff00;
	--theme-button-text-color: #009900;
	--theme-link-color: #afff99;
	--theme-dim-shadow-color: #00350d8a;
	--theme-shadow-color: #0737075e;
	--theme-background: var(--theme-background-color);
	--theme-nagbar-color: red;

	/* indicator colors */
	--theme-indicator-good: #092f12;
	--theme-indicator-okay: #95ff6f;
	--theme-indicator-todo: #033e17;
	--theme-indicator-bad: #444607;

	--theme-main-font: 'IBM Plex Mono', sans-serif;
	--theme-main-font-size: 0.95rem;
}
