<!-- 
this is injected to every page using netlify snippet injection.
I wrote my own goat counter script because theirs was too big
turns out, it doesn't have to be big at all
340b minified
-->
<script>
    (() => {
      let goat_subdomain = "cukmekerb";
      
      let page_url = new URL(window.location);
      
      let goat_data = {
            path: page_url.pathname,
            title: encodeURIComponent(document.title),
            rnd: Math.random(),
            size: {
                  width: window.innerWidth,
                  height: window.innerHeight
            }
      }

      let url_template = `https://${goat_subdomain}.goatcounter.com/count?p=${goat_data.path}&t=${goat_data.title}&s=${goat_data.size.width},${goat_data.size.height}&rnd=${goat_data.rnd}`;
      let image = document.createElement("IMG");
      image.src = url_template;
      image.style.display = "none";
      document.body.appendChild(image);
    })();
</script>
